{% extends '__base.html' %}

{% block title %}Ticks and Crosses{% endblock title %}

{% block content %}
  <div class="main learner">
    <div class="panel">
      <div class="section">
        <form method="post">
          <div class="row">
            <h1>Welcome</h1>
          </div>
          <div class="row">
            <button type="submit" name="role" value="learner">
              Learner
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content%}

